<div class="content-section gutter--on">

  {%- unless section.settings.title == blank -%}
    <h2 class="h1">{{ section.settings.title | escape }}</h2>
  {%- endunless -%}

  <div class="toggles">

  	{%- for block in section.blocks -%}

      <toggle-tab class="toggle" {{ block.shopify_attributes }}>
        <span class="toggle__title body-text-lg {% if forloop.first and section.settings.open_first %} opened {% endif %}">{{ block.settings.title | escape }}</span>
        <div class="toggle__content" {% if forloop.first and section.settings.open_first %} style="display: block;" {% endif %}>
          {%- liquid
            echo block.settings.body
            unless block.settings.image == blank
              assign sizes = 'sizes="(max-width: 948px) calc(100vw - 20px), calc((100vw - 200px) / 1.2)"'
              render 'lazy-image', image: block.settings.image, type: 'image', sizes: sizes
            endunless
          -%}
        </div>
      </toggle-tab>

  	{%- endfor -%}

  </div>

</div>

{% schema %}
	{
    "name": "t:sections.faq.name",
    "class": "faq centered-section-content",
    "tag": "section",
		"settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.faq.settings.title.label",
        "default": "Frequently asked questions"
      },
			{
				"type": "checkbox",
				"id": "open_first",
				"label": "t:sections.faq.settings.open_first.label"
			}
		],
		"blocks": [
      {
        "type": "text",
        "name": "t:sections.faq.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.faq.blocks.text.settings.title.label",
            "default": "Question title"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "t:sections.faq.blocks.text.settings.text.label",
            "default": "<p>Write a complete answer to the most frequent questions that your customers might have, such as important product information, shipping policies, payment issues or returns.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.faq.blocks.text.settings.image.label"
          }
        ]
      }
    ],
    "presets": [{
      "name": "t:sections.faq.presets.name",
      "blocks": [
        {"type":"text"},
        {"type":"text"},
        {"type":"text"}
      ]
    }]
  }
{% endschema %}